<nav class="navbar navbar-inverse navbar-static-top expense">
  <div class="container">
    <h1>Mis Gastos</h1>
  </div>
</nav>

<div class="container expense">
  <%= render 'form' %>

  <div class="col-md-12">
  <%= link_to 'Back', expenses_path, :class => 'btn btn-info' %>
  </div>
</div>


